# Entornos virtuales
venv/
.venv/
ENV/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de IDEs (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Archivos de sistema operativo
.DS_Store
Thumbs.db